@import "../../utilities/variables.scss";

.buttonContainer {
  @include flex-centered;
  white-space: nowrap;
}

.contactButton {
  padding: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 16px 0px rgb(0 0 0 / 10%);
  transition: $transition-speed;
  cursor: pointer;
  z-index: 1;
}

.primary {
  background-color: $ocre;
  color: white;
}
.primary:hover {
  background-color: black;
}

.secondary {
  background-color: white;
  color: $lightBlack;
}

.secondary:hover {
  color: $ocre;
}
