<app-navbar></app-navbar>

<section class="introSection">
  <div class="content">
    <h1>Faisons passer un cap à votre business</h1>
    <app-button text="Parlons de votre projet"></app-button>
  </div>
  <div class="waveMobile">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <div class="waveDesktop">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</section>

<section class="presentationSection">
  <div class="presentation">
    <app-section-title
      h2="Philippe Verot"
      h3="Consultant en management des organisations"
    ></app-section-title>

    <div class="content">
      <div class="presentationTextContainer">
        <p>
          Je me présente, je m’appelle Philippe VEROT et j’ai 59 ans. Je
          travaille depuis toujours dans l’environnement informatique, c’est un
          métier et un secteur qui me passionnent car en perpétuelle évolution.
          Vous trouverez sur ce site l’ensemble de mon expertise. Une expertise
          que j’ai acquise tout au long de ma vie professionnelle et
          personnelle, l’âge a au moins cette vertu.
        </p>
        <p>
          J’accompagne les entreprises dans la gestion de leur informatique et
          dans leur recherche d’efficacité et de productivité. Du choix d’un ERP
          à sa mise en place opérationnelle, de la restructuration d’une ADV à
          l’audit d’une organisation logistique, j’aide mes clients à briser
          leurs plafonds de verre et à dépasser leurs limites.
        </p>
      </div>
      <div class="img-container">
        <img src="../assets/images/philippe-verot.jpeg" alt="philippe-verot" />
      </div>
    </div>
  </div>
</section>

<section class="referenceSection">
  <div class="references">
    <div>
      <h2>J'ai travaillé pour:</h2>
    </div>
    <div class="companiesContainer">
      <img src="../assets/images/figaro.png" alt="Figaro" />
      <img src="../assets/images/forbes.png" alt="Forbes" />
      <img src="../assets/images/jdn.png" alt="JDN" />
      <img src="../assets/images/webmarketingcom.png" alt="web" />
    </div>
  </div>
</section>

<section class="expertiseSection">
  <app-section-title h2="Mes domaines d'expertise"></app-section-title>
  <div class="allExpertiseContainer">
    <div class="oneExpertiseContainer">
      <div class="imageContainer">
        <img src="../assets/images/informatique.png" alt="informatique" />
      </div>
      <h3>Informatique</h3>
      <p>
        Vous hésitez quant au choix d’un nouvel outil informatique ? Je peux
        vous aider à vous poser les bonnes questions.
      </p>
    </div>
    <div class="oneExpertiseContainer">
      <div class="imageContainer">
        <img src="../assets/images/commerciale.png" alt="commerciale" />
      </div>

      <h3>Commerciale</h3>
      <p>
        Vous pensez que votre organisation commerciale est perfectible ?
        Discutons-en ensemble.
      </p>
    </div>
    <div class="oneExpertiseContainer">
      <div class="imageContainer">
        <img src="../assets/images/logistique.png" alt="logistique" />
      </div>

      <h3>Logistique</h3>
      <p>
        Vous perdrez du temps et de l’énergie à cause d’erreur de livraison ?
        Travaillons ensemble votre Supply Chain.
      </p>
    </div>
    <div class="oneExpertiseContainer">
      <div class="imageContainer">
        <img src="../assets/images/stock.png" alt="stock" />
      </div>

      <h3>Stock</h3>
      <p>
        Vos stocks sont toujours faux ? Je vous aides à reprendre le contrôle de
        vos entrepôts.
      </p>
    </div>
  </div>
</section>

<section class="changeERPSection">
  <h2>Vous souhaitez changer d'ERP ?</h2>
  <app-button rank="secondary" text="Je peux vous aider"></app-button>
</section>

<footer>
  <div class="curve">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>

  <div class="container">
    <div class="text">
      <p>
        J’accompagne mes clients dans leur stratégie commerciale, le choix de
        leur ERP, ainsi que la mise en place de ces ERP et autres solutions
        logistique
      </p>
    </div>

    <div class="info">
      <ul>
        <li>Philippe Verot</li>
        <li>philippe.verot@sfr.fr</li>
      </ul>
      <a
        class="linkedinContainer"
        href="https://www.linkedin.com/in/philippe-verot/"
        target="_blank"
        ><i class="fa fa-linkedin"></i
      ></a>
    </div>

    <div class="callToAction">
      <div>
        <h3>Vous avez un projet ?</h3>
      </div>
      <app-button text="Contactez-moi"></app-button>
    </div>
  </div>
</footer>